<h2>Template Basicos</h2>
<hr />

<div class="row">
  <div class="col">
    <form (ngSubmit)="guardar()" #miFormulario="ngForm" autocomplete="off">
      <!-- Campo de Producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>

        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            [ngModel]="initForm.producto"
            name="producto"
            placeholder="Nombre del producto"
            required
            minlength="3"
          />

          <span class="form-text text-danger" *ngIf="nombreValido()"
            >Debe de ser de 3 letras</span
          >
        </div>
      </div>

      <!-- Campo de Precio -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            type="number"
            [ngModel]="initForm.precio"
            name="precio"
            class="form-control"
            placeholder="Precio del producto"
            required
          />
          <span class="form-text text-danger" *ngIf="precioValido()"
            >El precio debe ser 0 o mayor</span
          >
        </div>
      </div>

      <!-- Campo de Existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input
            type="number"
            [ngModel]="initForm.existencia"
            name="existencias"
            class="form-control"
            customMin
            [minimo]="0"
            placeholder="Existencias del producto"
            required
          />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="submit"
            [disabled]="miFormulario.invalid"
            class="btn btn-primary float-end"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ miFormulario.valid }}</pre>

    <span>Pristing</span>
    <pre>{{ miFormulario.pristine }}</pre>

    <span>TOuched</span>
    <pre>{{ miFormulario.touched }}</pre>

    <span>Value</span>
    <pre>{{ miFormulario.value | json }}</pre>

    <span>Errors</span>
    <pre>{{ miFormulario.controls.existencias?.errors | json }}</pre>
  </div>
</div>
