<h2>Template: <small> Dinámicos </small></h2>
<hr />

<form (ngSubmit)="guardar()" #miFormulario="ngForm" autocomplete="off">
  <!--Nombre-->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        class="form-control"
        placeholder="Nombre de la persona"
        [ngModel]="persona.nombre"
        required
        ngModel
        name="nombre"
      />
      <span
        class="form-text text-danger"
        *ngIf="
          miFormulario.controls.nombre?.errors &&
          miFormulario.controls.nombre?.touched
        "
        >Este campo es obligatorio</span
      >
    </div>
  </div>

  <!--Agregar Favorito-->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="Agregar favorito"
          [(ngModel)]="nuevoJuego"
          (keyup.enter)="agregarJuego()"
          name="nuevoJuego"
        />
        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="agregarJuego()"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>

  <!-- Lista de juegos Favoritos -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">
      <div
        class="input-group mb-1"
        *ngFor="let juego of persona.favoritos; let i = index"
      >
        <input
          class="form-control"
          required
          [ngModel]="juego.nombre"
          name="favorito_{{ i }}"
        />
        <button
          class="btn btn-outline-danger"
          type="button"
          (click)="eliminar(i)"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button
        class="btn btn-primary float-end"
        type="submit"
        [disabled]="miFormulario.invalid"
        (click)="guardar()"
      >
        Guardar
      </button>
    </div>
  </div>
</form>

<span>Persona</span>
<pre>{{ persona | json }}</pre>
